.collapsible-button {
  background-color: var(--accent-color);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 12px;
  width: 80%;
}

.collapsible-button:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapsible-button.sprints {
  background-color: rgb(172, 134, 239);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 50px;
  border-radius: 190px;
  width: 18%;
  height: 240px;
}

.collapsible-button.sprints:after {
  content: none;
}

/*Added the .active class for JS*/
.active, .collapsible-button:hover {
    background-color: #D1C3EB;
}

.active:after {
  content: "\2796";
}

.collapsible-button.active {
  height: 100px;
}

.collapsible-content {
  padding: 0 18px 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 80%;
  margin-bottom: 10px;
}

.collapsible-content.sprints {
  padding: 0px;
  margin-top: -80px;
  margin-left: -50px;
  background-color: rgb(172, 134, 239);
  border-radius: 100px;
}