.collapsible-button {
  background-color: var(--accent-color);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 12px;
  width: 80%;
}

.collapsible-button:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapsible-button.sprints {
  background-color: white;
  left: 550px;
  top: 1100px;
  justify-content: center;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 20%;
  text-align: center;
  outline: none;
  font-size: 50px;
  border-bottom: 1px solid black;
  border-radius: 0;
  margin-bottom: 20px;
}

.collapsible-button.sprints:after {
  content: "\27A4";
  
}

/*Added the .active class for JS*/
.active, .collapsible-button:hover {
    background-color: #ffffff;
}

.active:after {
  content: "\2796";
}

.collapsible-button.active {
  content: "\2796";
}

.collapsible-content {
  padding: 0 18px 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 80%;
  margin-bottom: 10px;
}

.collapsible-content.sprints {
  padding: 0px;
}