/* Partners */
.partners {
    text-align: center;
    box-sizing: border-box;
}

.partners-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logo {
    padding: 0 60px;
    position: relative;
}

.partner-logo img {
    object-fit: contain;
}

.partner-logo:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 120px;
    width: 2px;
    background: #ccc;
}

/* algemene logo styling */
.partners-logos img {
    max-width: 250px;
    height: auto;
    max-height: 90px;
    filter: grayscale(100%);
    opacity: 0.8;
    transition: all 0.3s ease;
}

/* kleinere vierkante logos */
.partner-logo-square img {
    max-width: 140px;
    max-height: 140px;
}

.partners-logos img:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.05);
}